<div>
  <div class="flex justify-between mb-4">
    <h3 class="text-xl font-bold">Pokemon List</h3>
    <button
      class="rounded-md flex items-center"
      nz-button
      nzType="primary"
      [disabled]="isImporting"
      (click)="importCsv.click()"
    >
      <span
        *ngIf="isImporting"
        nz-icon
        nzType="loading"
        nzTheme="outline"
      ></span>

      {{ isImporting ? "Importing CSV" : "Import CSV" }}
    </button>
    <input
      type="file"
      accept=".csv"
      #importCsv
      style="display: none"
      (change)="onImportCsv($event, importCsv)"
    />
  </div>
  <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
    <div class="flex flex-col">
      <span class="mb-1 font-semibold">Search Pokemon</span>
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input
          nz-input
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchDebounced$.next($event)"
          placeholder="Search Pokemon by name"
          class="my-1"
          nzAllowClear
        />
        <ng-template #prefixIconSearch>
          <span nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </nz-input-group>
    </div>

    <div class="flex flex-col">
      <span class="mb-1 font-semibold">Type</span>
      <nz-select
        [(ngModel)]="selectedType"
        nzSize="large"
        nzPlaceHolder="Select Type"
        nzAllowClear
        (ngModelChange)="onTypeChange($event)"
      >
        <nz-option
          *ngFor="let item of types"
          [nzValue]="item"
          [nzLabel]="item"
        ></nz-option>
      </nz-select>
    </div>

    <div class="flex flex-col">
      <span class="mb-1 font-semibold">Legendary Status</span>
      <nz-select
        [(ngModel)]="selectedLegendary"
        nzSize="large"
        [nzPlaceHolder]="'Select Status'"
        nzAllowClear
        (ngModelChange)="onLegendaryStatusChange($event)"
      >
        <nz-option [nzValue]="true" nzLabel="True"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Fasle"></nz-option>
      </nz-select>
    </div>

    <div class="flex flex-col">
      <span class="mb-1 font-semibold">Speed Ranges</span>
      <div class="grid grid-cols-2 gap-2">
        <nz-input-number
          class="w-full"
          [(ngModel)]="speedMinValue"
          [nzMin]="speedMin"
          [nzMax]="speedMax"
          nzSize="large"
          nzPlaceHolder="Minimum"
          (ngModelChange)="onSpeedRangeChange()"
        />
        <nz-input-number
          class="w-full"
          [(ngModel)]="speedMaxValue"
          [nzMin]="speedMin"
          [nzMax]="speedMax"
          nzSize="large"
          nzPlaceHolder="Maximum"
          (ngModelChange)="onSpeedRangeChange(false)"
        />
      </div>
    </div>
  </div>

  <div
    *ngIf="isLoadingData; else hasDataTemplate"
    class="flex items-center justify-center bg-opacity-40 w-full h-[30vh]"
  >
    <span class="text-4xl" nz-icon nzType="loading" nzTheme="outline"></span>
  </div>

  <ng-template #hasDataTemplate>
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-6 relative">
      <div class="heroes-notfound" *ngIf="filteredList().length === 0">
        Not Found Heroes Matching
      </div>
      <app-pokemon-item
        *ngFor="let item of filteredList()"
        [pokemonItem]="item"
        class="hero"
        (click)="openPokemonDetail(item)"
      ></app-pokemon-item>
    </div>
  </ng-template>
  <div class="flex justify-end mt-4">
    <nz-pagination
      [(nzPageIndex)]="currentPage"
      [nzTotal]="totalResults"
      nzShowSizeChanger
      [nzPageSize]="pageSizeDefault"
      [nzPageSizeOptions]="pageSizeOptions"
      (nzPageSizeChange)="onPageSizeChange($event)"
      (nzPageIndexChange)="onPageChange($event)"
    ></nz-pagination>
  </div>

  <!-- Pokémon Detail Modal -->
  <nz-modal
    [(nzVisible)]="isDetailVisible"
    nzTitle="Pokemon Details"
    (nzOnCancel)="closePokemonDetail()"
    [nzFooter]="null"
    [nzClassName]="'rounded-lg'"
    [nzMaskStyle]="{ top: '0px' }"
    [nzBodyStyle]="{ padding: '10px' }"
    [nzStyle]="{
      top: '20px',
      borderRadius: '12px',
      overflow: 'hidden',
      padding: '0'
    }"
  >
    <div *nzModalContent class="rounded-lg">
      <app-pokemon-detail
        [pokemonDetail]="selectedPokemon()"
        (favoriteChange)="toggleFavorite()"
      ></app-pokemon-detail>
    </div>
  </nz-modal>
  <!-- <app-spinner [loading]="true"></app-spinner> -->
</div>
